header {
    background-color: #244751;
    color: #E8FDFF;
    font-family: Pacifico;
}
body {
    background-color: whitesmoke;
}
main {
    background-color: white;
    padding: 16px;
}
.post {
    margin-bottom: 46px;
}
.post .user-info img {
    border-radius: 50%;
}
a:hover {
    background-color: #244751;
}
.photo:hover {
    opacity: 0.3;
}